.name {
  font-size: 12px;
  padding: 10px;
  display: inline-flex; /* Чтобы рамка обернула иконку */
  font-weight: 500;
  color: grey;
  background-color: rgb(248, 246, 246);
  border-radius: 50%;
}
