
:host {
  justify-content: space-between;
  display: flex;
  margin-right: 10px; /* Расстояние между компонентами (можете настроить как вам нужно) */
  background-color: rgb(255, 255, 255);
}

.names {
  margin: 0 10px 60px 0;
}


